# ==============================================================================
#                 Omni-IPS Configuration Parameters (Example)
# ==============================================================================
# Copy this file to '.env' and fill in your custom configurations.

# FastAPI Server Config
HOST=0.0.0.0
PORT=8080

# Neo4j Database Config
# Use bolt://localhost:7687 for local host development, and bolt://neo4j:7687 inside Docker
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=omni_ips_password

# Chroma Vector DB Config
# Use localhost for local host development, and chromadb inside Docker
CHROMADB_HOST=localhost
CHROMADB_PORT=8000

# API Keys
GEMINI_API_KEY_1=your_gemini_api_key
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=

GROQ_API_KEY_1=your_grod_api_key
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=

# Model-Agnostic LLM Configuration (LangChain Integration)
# Supported Providers: openai, ollama, groq, google
LLM_PROVIDER=google
LLM_MODEL=gemma-4-31b-it
LLM_API_KEY=your_llm_api_key_here